x-yaml-anchors:  # create anchors "&something" that can be referenced using "*something"
  base: &base
    extends:
      file: ../../docker/${TIRREX_IMAGE_TAG}.yaml
      service: x11_base
    volumes:
      - ./config:/config
    environment:
      - CONFIG_DIR=/config
      - ROBOT_CONFIG_DIR=/config/robot
      - DEMO_MODE=simulation_gazebo_classic
      - DEMO_NAME=simu_adap2e
      - ROBOT_NAMESPACE=panther
      - ROS_LOG_DIR=data/simu_adap2e/log
      - ROS_DOMAIN_ID=0


services:
  bash:
    <<: [*base]
    profiles: [optional]
    command: bash

  simulator:  # start the simulator and spawn the robot
    <<: [*base]
    command: >-
      ros2 launch tirrex_demo core.launch.py
        demo_config_directory:=$$CONFIG_DIR
        robot_config_directory:=$$ROBOT_CONFIG_DIR
        robot_namespace:=$$ROBOT_NAMESPACE
        mode:=$$DEMO_MODE

  localisation:  # compute absolute localization using GNSS, IMU and odometry measurements
    <<: [*base]
    depends_on: [simulator]
    command: >-
      ros2 launch tirrex_demo robot_localisation.launch.py
        demo_config_directory:=$$CONFIG_DIR
        robot_config_directory:=$$ROBOT_CONFIG_DIR
        robot_namespace:=$$ROBOT_NAMESPACE
        mode:=$$DEMO_MODE

  path_following:  # control the robot to follow the specified trajectory file
    <<: [*base]
    command: >-
      ros2 launch path_following_with_remap path_following_with_remap.launch.py
        demo_config_directory:=$$CONFIG_DIR
        robot_config_directory:=$$ROBOT_CONFIG_DIR
        robot_namespace:=$$ROBOT_NAMESPACE
        mode:=$$DEMO_MODE
        trajectory_filename:=cours.traj

  path_recorder:  # record a trajectory file from the current localization
    <<: [*base]
    depends_on: []
    profiles: [optional]
    network_mode: host
    pid: host
    ipc: host
    command: >-
      ros2 launch tirrex_demo robot_path_recorder.launch.py
        demo_config_directory:=$$CONFIG_DIR
        robot_config_directory:=$$ROBOT_CONFIG_DIR
        robot_namespace:=$$ROBOT_NAMESPACE
        mode:=$$DEMO_MODE
        trajectory_filename:=$$CONFIG_DIR/paths/recorded.traj

  rviz:  # start evaluation nodes and publish information for rviz
    <<: [*base]
    profiles: [optional]
    command: rviz2 -d $$CONFIG_DIR/default.rviz

  record:
    <<: [*base]
    depends_on: [simulator]
    profiles: [optional]
    command: >-
      ros2 launch tirrex_demo record.launch.py
        demo_config_directory:=$$CONFIG_DIR
        robot_config_directory:=$$ROBOT_CONFIG_DIR
        robot_namespace:=$$ROBOT_NAMESPACE
        mode:=$$DEMO_MODE
        demo:=$$DEMO_NAME
